footer {
    background-color: rgb(18, 6, 51);
    min-height: 300px;
    min-width: 100%;
    margin-top: 70vh;
    color: #fff;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;

}

.left {
    width: 30%;
    text-align: justify;


}

.left>h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;

}

.left>p {
    font-size: 17px;
    opacity: 0.6;
}

.middle {

    width: 30%;
    margin-left: 5%;
    text-align: center;

}

.middle>h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

}

.right {
    width: 30%;
    margin-left: 5%;
    text-align: center;
}
.right>h3{
    font-size: 30px;
}
.right li{
  list-style: none;
}
.right li a{
  text-decoration: none;
  color: #fff;
}


